body {
    background-color: sandybrown;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: maroon;
    margin-top: -130px;
    font-size: 300%;
}

h2 {
    font-size: 130%;
}

h2.left {
    position: relative;
    padding-left: 120px;
}

p {
    font-size: 110%;
}

a.footnote {
    font-size: 60%;
    display: inline;
}

figcaption {
    color: #68523B;
    font-weight: bold;
}


/* IMAGES */
img.header-img {
    width: 120%;
    height: 200px;
    opacity: 0.4;
    margin: -10px -10px 0 -10px;
    border-bottom: 5px solid black;
}

img.portrait-img {
    width: 100px;
}

img.inthedesert-img {
    width: 310px;
    height: 460px;
    border: 5px solid #907050;
}

img.writing-img {
    width: 195px;
    height:290px;
    border: 5px solid #907050;
}

img.flute {
    width: 185px;
    height:130px;
    border: 5px solid #907050;
}

img.desert-solitaire {
    width: 450px;
    height:300px;
    right: 400px;
    border: 5px solid #907050;
}



/* PERSONAL CLASSES */

.header-container {
    padding-bottom: 25px;
}

.quote {
    color: #9E5959;
    
}

.left-panel {
    position: absolute;
    left: 50px;
    color: #8A4D4D;
}

.middle-panel {
    position: absolute;
    left: 400px;
    top: 270px;
    width: 400px;
    color: #6B3232;
    text-align: left;
}

.right-books-panel {
    position: absolute;
    right: 290px;
    top: 270px;
    width: 300px;
    color: #6B3232;
    text-align: left;
}

.right-panel {
    position: absolute;
    right: 60px;
    top: 270px;
}
