body {
    background-color: aliceblue;
    align-content: center;
    text-align: center;
}

h1 { 
    color: cornflowerblue
}

p.name {
    color: darkslateblue;
}

p.email {
    color: darkmagenta;
}

p.reasoning {
    color: darkorchid;
}

p.caption {
    color: indigo;
}