/* GENERAL STYLES */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(153, 199, 167);
}

button, input, select {
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
    border: none;
    margin: 5px;
}

/* HEADER  */
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 80px;
    background-color: rgb(41, 82, 53);
    border-bottom: 5px solid rgb(54, 112, 72);
    z-index: 20;
}

.header > h1 {
    font-size: xx-large;
    color: antiquewhite;
    text-align: center;
}


/* BODY */
.body-div {
    background-color: rgb(153, 199, 167);
    top: 80px;
    left: 0;
    position: absolute;
    width: 100%;
    /* min-height: 700px; */
    padding: 1%;
}

.body-div > h2, .body-div > a {
    text-align: center;
}

h5 {
    margin-top: -1%;
}

#fws-logo {
    position: fixed;
    top: 5px;
    right: 5px;
    height: 70px;
    width: 70px;
}

.select-state {
    position: relative;
    width: 600px;
    background-color: antiquewhite;
    color: black;
    top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    border: 3px solid rgb(54, 112, 72);
    padding-left: 1%;
}

.select-state > h2 {
    position: relative;
    top: 1%;
}

form {
    position: absolute;
    top: 10%;
    left: 40%;
}

.select-state >* input {
    padding: 4px 10px 4px 10px;
    background-color: dodgerblue;
    color: whitesmoke;
    font-size: large;
    border: 2px solid steelblue;
}

.select-state >* select {
    padding: 8px;
    font-size: large;
    background-color: gainsboro;
    border: 1px solid lightslategray;
    /* align-content: center; */
}

.selection-body-div {
    overflow: auto;
    position: relative;
    margin-top: 1%;
    width: 98%;
    margin-left: 0;
}

/*  TABLE  */
.table-div {
    height: 450px;
    overflow: auto;
    position: relative;
    margin-top: 1%;
    width: 98%;
    margin-left: 0;
    /* background-color: pink; */
    text-align: center;
}

.table {
    background-color: black;
    color: black;
    border: 1px solid black;
    position: relative;
    width: 90%;
    margin: 0 5% 0 5%;
}

/* tbody>tr>td>:nth-child(2){
    font-style: italic;
}

tbody tr th { 
    font-style: normal;
} */

table th {
    padding: 5px 20px 5px 20px;
    position: -webkit-sticky;
    position: sticky;
    background-color: black;
    color: gainsboro;
    border: 1px solid lightslategray;
    top: 0;
    font-style: normal;
}

.sci-name {
    font-style: italic;
}

table tr td {
    padding: 5px 2px 5px 2px;
    background-color: gainsboro;
    color: black;
}

/* *** taken from: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
::-webkit-scrollbar {
    display: none;
  }
/* *** end borrowed code */

/* REACTIVITY OF PAGE */
/* selects screens between 400 and 800 px wide, or "medium" sized screens like tablets */
@media only screen and (min-width: 200px) and (max-width: 800px) {
    /* fill this in for 100-200 pixels change */
}


/* ESA STATUS COLOR GRADIENT */
.endangered {
    background-color: #765243;
}

.threatened {
    background-color: #fda447;
}

.candidate {}

.resolved-taxon {
    background-color: #9ee0d0;
}

.species-of-concern {
    background-color: #f4ed4f;
}

.delisted {
    background-color: #236d38;
}

.proposed-threatened {}

.proposed-endangered {}

.emergency-endangered {}

.experimental-essential-population {
    background-color: #693a92;
}

.experimental-non-essential-population {
    background-color: #a576cd;
}

.under-review {
    background-color: #939393;
}

.recovery {
    background-color: #3ab55c;
}
