* {
    font-family: "Verdana", sans-serif;
}


.nav-header {
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: red;
    color: white;
    margin: -20px -20px 0px -20px;
    padding: 0px 20px 20px 20px;
    z-index: 20;
}


h1 {
    color: white;
    text-align: center;
    padding-bottom: 0;
}

.img-header {
    width: 100%; 
    opacity: 60%;
    box-shadow: 1px 5px 10px darkred;
    padding-top: 30px;
}

.embedded-map {
    height: 350px;
    width: 600px;
}

.canal, .jurmula {
    float: left;
    width: 40%;
    margin-bottom: 50px;
}

.canal {
    width: 60%;
}

#love, #eating, #useful-phrases,  #interactive-map, #celebration {
    padding-top: 75px;
}


#love {
    width: 100%;
}


table, th {
    border: 2px solid darkslategray;
    font-weight: bold;
    background-color: pink;
    width: 50%;
    text-align: center;
    border-spacing: 2px;
}

tr :hover {
    background-color: darkred;
    border-collapse: collapse;
}

th {
    font-style: italic;
    background-color: darkred;
    color: white;
}

td {
    padding: 5px 15px 0px 5px;
}

.latvian-col {
    font-style: italic;
}

ul {
    list-style-image: url('images/flag.gif');
    list-style-position: inside;
    margin: 10px 0px 30px 0px;
    font-weight: 400;
}


#contact {
    padding-top: 50px;
    text-align: center;
}

form {
    border-radius: 10px;
    color: darkred;
    border: 5px solid;
    padding: 20px 20px 20px 20px;
    width: 20%;
    margin: auto;
}

form :focus {
    background-color: pink;
}


#submit-form {
    text-shadow: 1px 1px grey;
    background-color: darkred;
    color: white;
}